# Don't track content of these folders
node_modules/
mysite/mysite/__pycache__
mysite/chat/__pycache__
mysite/parks/__pycache__
mysite/pic/__pycache__
mysite/polls/__pycache__
mysite/RJcount/__pycache__


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
