body { 
    background: #312f44 url("images/sparkles.jpg") no-repeat;
    background-size: 100%;
}

.arnold {
	display: inline;
	height: 200px;
	width: auto;
}

.arnold-faces {
	width: 47%;
	margin: auto;
	padding-top: 10px;
}

#back {
	display: block;
	float: left;
}

.content {
	display: block;
	width: 70%;
	margin: auto;
	margin-top: 20px;
}

h1 {
    display: block;
    text-align: center;
    color: #5f18f6;
    width: 90%;
	margin: auto;
    font-family: cursive;
    border-radius: 10px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	font-size: 70px;
}
h2 {
    display: block;
    text-align: center;
    color: #5f18f6;
    width: 90%;
	margin: auto;
    font-family: cursive;
    border-radius: 10px;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
	font-size: 28px;
}

.contentBody {
    background: #5d9b9d;
    background-size: 100%;
	border-radius: 10px;
    width: 96%;
    padding: 20px;
    display: block;
    margin: auto;
	margin-top: 20px;
	height: 700px;
}

ul.names {
    margin:0px;
	float: left;
	width: 40px;
    list-style-type: none;
	display: inline-block;
	height: 90%;
}

li.names {
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin: 5px;
    width: 60px;
	margin-left: -70%;
}

ul.urls {
    margin-left: 10%;
    margin-right: 10%;
	width: 70%;
    list-style-type: none;
	display: inline-block;
	height: 55%;
}

li.urls {
	color: black;
	cursor: pointer;
    border-radius: 10px;
    background-color: white;
    text-align: center;
	padding-top: 10px;
    width: 100%;
	height: 50px;
	font-size: 35px;
	margin:auto;
	display: block;
	
}
li.urls:hover {
	background-color: #97f9e9;
}

#images {
	display: inline-block;
}

a {
    text-decoration: none;
    font-family: cursive;
}

.parkinfo {
	width: 92%;
	float: right;
}

.description {
	display: block;
}

img {
	display: table;
	border-radius: 5px;
	width: 50%;
	height: auto;
}

li.rankNo {
	border: 1px solid black;
	width: 50px;
}

.rankTime {
	margin-top: 10px;
	border-radius: 5px;
	background-color: coral;
	width: 50%;
	height: 70px;
	padding: 15px;
}

.rankDesc {
	font-size: 15;
	width: 200px;
	color: black;
	margin: auto;
}

.column {
	float: left;
	width: 50%;
	padding: 0px;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

.rankCol {
	float: left;
	width: 120px;
	text-align: center;
	padding: 0px;
	border-radius: 5px;
	margin: 2px;
	background-color: aliceblue;
	list-style-type: none;
	height: 25px;
	padding-top: 7px;
}

.rankCol:hover {
	background-color: aqua;
}

/* Clear floats after image containers */
.rankRow::after {
	content: "";
	clear: both;
	display: table;
}
.button-styling {
	width: 75%;
	margin-top: 2%;
	padding: 0%;
	margin-left: 10%;
}
.park_section {
	min-width: 33%;
	max-width: 33%;
}
.park-rating {
	padding-top: 1%;
}
.park-heading {
	border-bottom: 2px solid white;
}
.park-address {
	padding: 1% 0% 0% 3%;
}
.park-pictures {
	text-align: center;
	border-top: 1px solid white;
	margin-top: 10px;
	padding-top: 10px;
}
.hidden {
	display: none;
	visibility: hidden;
}
li > a {
	background: aquamarine;
	border-radius: 100%;
	padding-left: 5%;
	padding-right: 5%;
}
.url_link:hover {
	background-size: 200% auto;
	background: radial-gradient(aqua, yellow, lime, crimson);
	background-clip: text;
	animation: swirly 1s cubic-bezier(.59,0,.43,1.15) infinite;
}
.swirlhover {
	text-align: center;
	background: radial-gradient(aqua, yellow, lime, crimson);
	background-size: 200% auto;
	color: #000;
	background-clip: text;
	text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: shine 2s linear infinite;
}

@keyframes shine {
		from {background-position: 0% center;}
		to {background-position: 200% center;}
	}

@keyframes swirly {
   0%  {background: radial-gradient(red, blue, green, red);}
  25%  {background: radial-gradient(white, red, green, red);}
  50%  {background: radial-gradient(purple, white, green, red);}
  100% {background: radial-gradient(blue, purple, green, red);}
}
