body { 
    background: #312f44 url("images/sparkles.jpg") no-repeat;
    background-size: 100%;
}

.arnold {
	display: inline;
	height: 200px;
	width: auto;
}

.arnold-faces {
	width: 47%;
	margin: auto;
	//border: 1px solid black;
}

#back {
	display: block;
	float: left;
}

.content {
	display: block;
	width: 70%;
	//border: 1px solid black;
	margin: auto;
	margin-top: 20px;
}

h1 {
    display: block;
    text-align: center;
    background-color: #5f18f6;
    width: 90%;
	//border: 1px solid black;
	margin: auto;
    font-family: cursive;
    border-radius: 10px;
}

.contentBody {
    background: #5f18f6;
    background-size: 100%;
	border-radius: 10px;
    width: 96%;
    padding: 20px;
    display: block;
    margin: auto;
	margin-top: 20px;
	height: 700px;
	//border: 1px solid black;
}

ul.names {
    margin:0px;
	float: left;
	width: 40px;
	//padding: 0px;
	//border: 1px solid black;
    list-style-type: none;
	display: inline-block;
	height: 90%;
}

li.names {
    border-radius: 5px;
    background-color: white;
    text-align: center;
    margin: 5px;
    width: 60px;
	margin-left: -70%;
}

ul.urls {
    margin-left: 10%;
    margin-right: 10%;
	width: 70%;
	//padding: 0px;
	//border: 1px solid black;
    list-style-type: none;
	display: inline-block;
	height: 55%;
}

li.urls {
	color: black;
	cursor: pointer;
    border-radius: 10px;
    background-color: white;
    text-align: center;
	padding-top: 10px;
    width: 100%;
	height: 50px;
	font-size: 35px;
	margin:auto;
	display: block;
	
}

#images {
	display: inline-block;
}

a {
    text-decoration: none;
    font-family: cursive;
}

.parkinfo {
	width: 92%;
	float: right;
	//border: 1px solid black;
}

.description {
	display: block;
}

img {
	display: table;
	border-radius: 5px;
	width: 50%;
	height: auto;
}

li.rankNo {
	//display: inline;
	border: 1px solid black;
	width: 50px;
}

.rankTime {
	margin-top: 10px;
	border-radius: 5px;
	background-color: coral;
	width: 50%;
	height: 70px;
	padding: 15px;
}

.rankDesc {
	//border: 1px solid black;
	font-size: 15;
	width: 200px;
	color: black;
	margin: auto;
}

.column {
	float: left;
	width: 50%;
	padding: 0px;
}

/* Clear floats after image containers */
.row::after {
	content: "";
	clear: both;
	display: table;
}

.rankCol {
	float: left;
	width: 120px;
	text-align: center;
	padding: 0px;
	border-radius: 5px;
	margin: 2px;
	background-color: aliceblue;
	list-style-type: none;
	height: 25px;
	padding-top: 7px;
}

.rankCol:hover {
	background-color: aqua;
}

/* Clear floats after image containers */
.rankRow::after {
	content: "";
	clear: both;
	display: table;
}
.button-styling {
	width: 75%;
	margin-top: 2%;
	padding: 0%;
	margin-left: 10%;
}
.park_section {
	min-width: 33%;
	max-width: 33%;
}
.park-rating {
	text-align: center;
	padding-top: 1%;
}
.park-heading {
	border-bottom: 2px solid white;
}
.park-address {
	padding: 1% 0% 0% 3%;
}
.park-features {
	
}
.hidden {
	display: none;
	visibility: hidden;
}